[softwarefactory]
{{ adminvm.openstack.public_v4 }} become=true

[docker_swarm_manager]
{{ devswarmmastervm.openstack.public_v4 }} become=true
{{ devswarmnodevm.openstack.public_v4 }} become=true
{{ prodswarmmastervm.openstack.public_v4 }} become=true
{{ prodswarmnodevm.openstack.public_v4 }} become=true
