backup_user:
  user:
    username: {{ backup_user.user.username }}
    password: {{ backup_user.user.password }}
registry_user:
  user:
    username: {{ registry_user.user.username }}
    password: {{ registry_user.user.password }}
admin_user:
  user:
    username: {{ admin_user.user.username }}
    password: {{ admin_user.user.password }}
openrc:
  openrc:
    auth_url: {{ openrc.openrc.os_auth_url }}
    tenant_id: {{ openrc.openrc.os_tenant_id }}
    tenant_name: {{ openrc.openrc.os_tenant_name }}
    region_name: {{ openrc.openrc.os_region }}
