server {
	listen       [::]:80;
	listen       80;
	listen       443 ssl http2;
	listen       [::]:443 ssl http2;
	server_name  docker-registry.{{ tld_hostname }};
	
	## SSL
	ssl_certificate      /etc/letsencrypt/live/admin.{{ tld_hostname }}/fullchain.pem;
	ssl_certificate_key  /etc/letsencrypt/live/admin.{{ tld_hostname }}/privkey.pem;
	ssl_dhparam /etc/ssl/private/{{ tld_hostname }}.dhparam.crt;

	# disable any limits to avoid HTTP 413 for large image uploads
	client_max_body_size 0;

	# required to avoid HTTP 411: see Issue #1486 (https://github.com/docker/docker/issues/1486)
	chunked_transfer_encoding on;

	location /v2/ {
		# Do not allow connections from docker 1.5 and earlier
		# docker pre-1.6.0 did not properly set the user agent on ping, catch "Go *" user agents
		if ($http_user_agent ~ "^(docker\/1\.(3|4|5(?!\.[0-9]-dev))|Go ).*$" ) {
			return 404;
		}

		# To add basic authentication to v2 use auth_basic setting plus add_header
		#auth_basic "Registry realm";
		#auth_basic_user_file /etc/nginx/sites-enabled/docker-registry.htpasswd;
		add_header 'Docker-Distribution-Api-Version' 'registry/2.0' always;

		proxy_pass		http://{{ registry["ip"] }}:{{ registry["port"] }};
		proxy_set_header	Host            $http_host;   # required for docker client's sake
		proxy_set_header	X-Real-IP       $remote_addr; # pass on real client's IP
		proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header	X-Forwarded-Proto $scheme;
		proxy_read_timeout	900;
	}


}
