<?xml version='1.0' encoding='UTF-8'?>
<jenkins.plugins.slack.SlackNotifier_-DescriptorImpl plugin="slack@2.0.1">
  <teamDomain>{{ slack.team_domain }}</teamDomain>
  <token>{{ slack.token }}</token>
  <room></room>
  <buildServerUrl>https://{{ jenkins.url }}</buildServerUrl>
</jenkins.plugins.slack.SlackNotifier_-DescriptorImpl>