<?xml version='1.0' encoding='UTF-8'?>
<org.datadog.jenkins.plugins.datadog.DatadogBuildListener_-DescriptorImpl plugin="datadog@0.5.5">
  <apiKey>{{ datadog.api_key }}</apiKey>
  <hostname>https://jenkins.kitstartup.ovh</hostname>
  <blacklist></blacklist>
  <tagNode>false</tagNode>
</org.datadog.jenkins.plugins.datadog.DatadogBuildListener_-DescriptorImpl>