dn: ou=groups,{{ ldap.top_dn }}
ou: groups
objectClass: organizationalUnit
objectClass: top

dn: ou=users,{{ ldap.top_dn }}
ou: users
objectClass: organizationalUnit
objectClass: top

dn: cn=admins,ou=groups,{{ ldap.top_dn }}
cn: admins
gidNumber: 500
objectClass: posixGroup
objectClass: top

dn: cn=users,ou=groups,{{ ldap.top_dn }}
cn: users
objectClass: groupOfNames
objectClass: top
{% for user in ldap.users %}
member: cn={{ user.sn }} {{ user.givenName }},ou=users,{{ ldap.top_dn }}
{% endfor %}

dn: cn=developpers,ou=groups,{{ ldap.top_dn }}
cn: developpers
objectClass: groupOfNames
objectClass: top
{% for user in ldap.users %}
member: cn={{ user.sn }} {{ user.givenName }},ou=users,{{ ldap.top_dn }}
{% endfor %}

dn: cn=administrators,ou=groups,{{ ldap.top_dn }}
cn: administrators
objectClass: groupOfNames
objectClass: top
{% for user in ldap.users %}
member: cn={{ user.sn }} {{ user.givenName }},ou=users,{{ ldap.top_dn }}
{% endfor %}

{% for user in ldap.users %}
dn: cn={{ user.sn }} {{ user.givenName }},ou=users,{{ ldap.top_dn }}
givenName: {{ user.givenName }}
sn: {{ user.sn }}
cn: {{ user.sn }} {{ user.givenName }}
uid: {{ user.uid }}
userPassword: {{ user.password }}
uidNumber: {{ user.uidNumber }}
gidNumber: {{ user.gidNumber }}
homeDirectory: /home/users/{{ user.uid }}
loginShell: /bin/bash
mail: {{ user.mail }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
objectClass: mailAccount

{% endfor %}

