ldap {
    com.dtolabs.rundeck.jetty.jaas.JettyCachingLdapLoginModule sufficient
      debug="true"
      contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
      providerUrl="ldap://{{ ldap.ip }}:{{ ldap.port }}"
      bindDn="{{ ldap.bind_dn }}"
      bindPassword="{{ ldap.pass }}"
      authenticationMethod="simple"
      forceBindingLogin="true"
      userBaseDn="{{ ldap.base_users_dn }}"
      userRdnAttribute="cn"
      userIdAttribute="uid"
      userPasswordAttribute="userPassword"
      userObjectClass="posixAccount"
      roleBaseDn="{{ ldap.base_groups_dn }}"
      roleNameAttribute="cn"
      roleMemberAttribute="member"
      roleObjectClass="groupOfNames"
      cacheDurationMillis="300000"
      reportStatistics="true"
      supplementalRoles="user"
      roleSearchSubtree=true
      forceBindingLoginUseRootContextForRoles="true";

   org.eclipse.jetty.jaas.spi.PropertyFileLoginModule required
      debug="true"
      file="/etc/rundeck/realm.properties";
};

